apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-feed
  labels:
    app: backend-feed
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend-feed
  template:
    metadata:
      labels:
        app: backend-feed
    spec:
      containers:
      - name: backend-feed
        image: phani5757/udagram-api-feed:v1
        ports:
        - containerPort: 8100
        envFrom:
        - configMapRef:
            name: env-config
        env:
        - name: POSTGRES_USERNAME
          valueFrom:
            secretKeyRef:
              name: app-environment-secret
              key: POSTGRES_USERNAME
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: app-environment-secret
              key: POSTGRES_PASSWORD
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: aws-credentials
              key: aws_access_key_id
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: aws-credentials
              key: aws_secret_access_key
        - name: JWT_SECRET  
          valueFrom:
            secretKeyRef:
              name: aws-credentials
              key: aws_secret_access_key
