apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-user
  labels:
    app: backend-user
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend-user
  template:
    metadata:
      labels:
        app: backend-user
    spec:
      containers:
      - name: backend-user
        image: phani5757/udagram-api-user:v1
        ports:
        - containerPort: 8100
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi
        envFrom:
        - configMapRef:
            name: env-config
        env:
        - name: POSTGRES_USERNAME
          valueFrom:
            secretKeyRef:
              name: app-environment-secret
              key: POSTGRES_USERNAME
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: app-environment-secret
              key: POSTGRES_PASSWORD
        - name: JWT_SECRET  
          valueFrom:
            secretKeyRef:
              name: aws-credentials
              key: aws_secret_access_key
